body {
	background-color: gold;
	font-family: sans-serif;
}
h1, h2 {
	font-family: sans-serif;
	color: blueviolet;
}
ul li a {
	color: black;
	text-decoration: none;
}
ol li a {
	color: white;
	text-decoration: none;
}
.p1 {
	color: rosybrown;
	text-align: justify;
}
.p2 {
	color: red;
	text-align: justify;
}